.modalContainer {
  position: relative;

  overflow: hidden;
}

.closeBtnSvg {
  position: absolute;
  top: 16px;
  right: 16px;

  cursor: pointer;
}

.imageItem {
  width: 461px;
  height: 248px;

  object-fit: cover;

  border-radius: 14px;
  background-color: #f3f3f2;

  margin-bottom: 14px;
}

.nameTitle {
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;

  margin-bottom: 8px;
}

.modelSpan {
  color: #3470ff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.textCharacteristics,
.textFunctionalitics {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.textCharacteristics {
  width: 277px;
  margin-bottom: 14px;
}

.textDescription {
  color: #121417;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;

  margin-bottom: 24px;
}

.subTitleAccessories,
.subTitleConditions {
  color: #121417;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.subTitleAccessories {
  margin-bottom: 8px;
}

.subTitleConditions {
  margin-bottom: 15px;
}

.textFunctionalitics {
  margin-bottom: 24px;
}

.achivmentList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 15px;
}

.achivments {
  color: #363535;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;

  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: #f9f9f9;
}

.achivmentValue {
  color: #3470ff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.24px;
}

::-webkit-scrollbar {
  display: none; 
}


