.noSidebarContainer {  
  padding-left: 15px;
  padding-right: 15px;
  width: 250px; 
  float: left; 

  height: 70vh;

  border-right: 3px solid #121417;
  opacity: 0.6;
}

.title{
  position: relative;

  margin-top: 250px;
  font-size: 32px;
  text-align: center;

  color: #121417;

  animation: moveUpDown 3s linear infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    top: -50px; 
    opacity: 0;
  }
  50% {
    top: 0; 
    opacity: 1;
  }
}
