.cardList {
  display: flex;
  flex-wrap: wrap; /* Перенос на новую строку, если не помещается */
  justify-content: space-between; /* Равномерное распределение по горизонтали */
  row-gap: 29px;
  column-gap: 50px;

  margin-bottom: 100px;
}
